Options +FollowSymLinks
RewriteEngine On

# Redirect semua folder ke index.php
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME}/index.php !-f
RewriteRule ^(.*)/$ /index.php?dir=$1 [L]

# Jika file atau folder ada, biarkan
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?dir=$1 [L]

# Izinkan akses langsung ke PDF
RewriteCond %{REQUEST_FILENAME} \.pdf$
RewriteRule ^ - [L]

AddType application/pdf .pdf

